*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    ul, ol {
    list-style: none;
    
    }

    :root{
        --font-primary: 'Inter', sans-serif;
        --color-green: #27AE60;
        --color-gray:#BDBDBD;
        
        }