.modal {
    width: 400px;
    height: 357px;
    position: fixed;
    left: 500px;
    top: 100px;



}

.modal-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-green);
    color: #FFFFFF;
    height: 30px;
    font-size: 10px;
    font-family: var(--font-primary);
    font-weight: 700;

}

.closeModal {
    background: none;
    border: none;
    color: #efe7e7;

}

.shopCart {
    margin-top: 5px;
    margin-left: 5px;

}

.imgModal {
    width: 55px;
    height: 53.49;
    background-color: #E0E0E0
}

.nameModal {
    font-size: 15px;
    margin-top: 19px;
    margin-left: 15px;
}

.content {
    display: flex;

}

.deleteNodal {
    margin-top: 10px;
    width: 350px;
    height: 50px;
    margin-left: 10px;
    border: 1px solid #BDBDBD;
    background-color: #BDBDBD;
    border-radius: 8px;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    cursor: pointer;


}

body {


    background-color: #FFFFFF;
}

.itemRemove {
    color: gray;
    border: none;
    background: none;


}

.total {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    color: #333333;

}